<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<h1>Hello, world</h1>
<p>Bem-vindo ao meu primeiro site em Node.js e Express.js</p>
<hr>
<!-- <p><a href="/perfil">Ir para o seu perfil</a></p>
<p><a href="/clientes">Ir para aba Clientes</a></p>
<p><a href="/produtos">Ir para aba Produtos</a></p>
<p><a href="/servicos">Ir para aba Serviços</a></p> -->

<!-- Importando imagem -->
 <img src="/imgs/carro.jpg" alt="Descrição da imagem" height="300px">

<%- include ('partials/footer.ejs') %>